.blog {
  &__header {
    @extend .portfolio__header;

    display: flex;
    align-items: center;

    @include respond(phone) {
      flex-direction: column-reverse;
      align-items: flex-start;
    }
  }

  &__header-text {
    margin-right: 4.8rem;

    @include respond(phone) {
      margin-right: 0;
    }

    & > *:not(:last-child) {
      margin-bottom: 2.4rem;
    }

    h3 {
      font-size: 2.4rem;
      line-height: 3.2rem;
    }

    p {
      max-width: 100%;
      font-weight: 500;
      line-height: 2.4rem;
    }
  }

  &__header-avatar {
    max-width: 13.2rem;
    flex-shrink: 0;

    @include respond(phone) {
      margin-bottom: 2.4rem;
    }

    img {
      max-width: 100%;
    }
  }

  &__posts {
    @extend .portfolio__projects;
  }

  &__post-grid {
    @extend .portfolio__project-grid;
    grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
  }

  &__post-card {
    & > *:not(:last-child) {
      margin-bottom: 1.2rem;
    }

    h2 {
      font-size: 3.6rem;
      line-height: 4rem;
    }
  }

  &__datetime {
    display: flex;

    & > * {
      color: #a3a3a3;

      &:not(:last-child) {
        margin-right: 1.2rem;
      }
    }
  }
}
